@model Entity.DTOs.Order.CreateOrderDto
@{
    ViewData["Title"] = "AddOrder";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sipariş Ekle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Default/Index">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">Sipariş Ekle</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <form method="post" asp-action="AddOrder" asp-controller="Orders">
            <div class="row ">
                <div class="form-group col-sm-3">
                    <label>Miktar</label>
                    <input type="text" asp-for="Amount" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    @Html.Label("Kategori Adı")
                    @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.categoryVlc, new { @class = "form-control custom-select" })
                    @Html.ValidationMessageFor(x => x.ProductId)
                </div>
                <div class="form-group col-sm-3">
                    @Html.Label("Ürün Kodu")
                    @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.productCodeVlc, new { @class = "form-control custom-select" })
                    @Html.ValidationMessageFor(x => x.ProductId)
                </div>
                <div class="form-group col-sm-3">
                    @Html.Label("Ürün Adı")
                    @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.productVlc, new { @class = "form-control custom-select" })
                    @Html.ValidationMessageFor(x => x.ProductId)
                </div>
                <div class="form-group col-sm-3">
                    @Html.Label("Kumaş Tipi")
                    @Html.DropDownListFor(x => x.FabricId, (List<SelectListItem>)ViewBag.fabricVlc, new { @class = "form-control custom-select" })
                    @Html.ValidationMessageFor(x => x.FabricId)
                </div>
                <div class="form-group col-sm-3">
                    @Html.Label("Ürün Rengi")
                    @Html.DropDownListFor(x => x.ProductColorId, (List<SelectListItem>)ViewBag.productColorVlc, new { @class = "form-control custom-select" })
                    @Html.ValidationMessageFor(x => x.ProductColorId)
                </div>
                <div class="form-group col-sm-3">
                    @Html.Label("Ayak Rengi")
                    @Html.DropDownListFor(x => x.FootColorId, (List<SelectListItem>)ViewBag.footColorVlc, new { @class = "form-control custom-select" })
                    @Html.ValidationMessageFor(x => x.FootColorId)
                </div>
                <div class="form-group col-sm-3">
                    <label>İskonto</label>
                    <input type="text" asp-for="Discount" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Fiyat</label>
                    <input type="text" asp-for="Price" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <input type="hidden" asp-for="ProformaId" class="form-control" value="@ViewBag.proformaId">
                </div> 

            </div>
            <div class="card-header">
                <button class="btn btn-success float-right">Sipariş Ekle</button>
            </div>
        </form>
    </section>
</div>