@model List<Entity.DTOs.Order.ResultOrderDto>
@{
    ViewData["Title"] = "GetByProformaId";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    int count = 1;
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Siparişler</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Default/Index">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">Siparişler</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a href="/Orders/AddOrder/@ViewBag.ProformaId" class="btn btn-outline-primary">Sipariş Ekle</a>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Miktar</th>
                                    <th>Ürün Kodu</th>
                                    <th>Ürün</th>
                                    <th>Kumaş</th>
                                    <th>Ürün Rengi</th>
                                    <th>Ayak Rengi</th>
                                    <th>Parça Sayısı</th>
                                    <th>İskonto</th>
                                    <th>Fiyat</th>
                                    <th>Tutar</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.Amount</td>
                                        <td>@item.ProductCode</td>
                                        <td>@item.ProductName</td>
                                        <td>@item.FabricName</td>
                                        <td>@item.ProductColorName</td>
                                        <td>@item.FootColorName</td>
                                        <td>@item.Piece</td>
                                        <td>@item.Discount</td>
                                        <td>@item.Price</td>
                                        <td>@item.TotalPrice</td>
                                        <td><a href="/Orders/DeleteOrder/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                        <td><a href="/Orders/UpdateOrder/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>No</th>
                                    <th>Miktar</th>
                                    <th>Ürün Kodu</th>
                                    <th>Ürün</th>
                                    <th>Kumaş</th>
                                    <th>Ürün Rengi</th>
                                    <th>Ayak Rengi</th>
                                    <th>Parça Sayısı</th>
                                    <th>İskonto</th>
                                    <th>Fiyat</th>
                                    <th>Tutar</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

