@model List<Entity.DTOs.Order.ResultOrderDto>

@{
    Layout = null;
    int count = 0;
}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="a4-page" id="pdf">
        <table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0">
            <tbody>
                <tr class="row0">
                    <td class="column0 style35 s style35" colspan="9">
                        FABRİKA &amp; SHOWROOM :ORG.SAN.BÖLGESİ
                        29.CAD.
                        NO: 43
                        MELİKGAZİ/KAYSERİ/TÜRKİYE
                    </td>
                    <td class="column9">&nbsp;</td>
                </tr>
                <tr class="row1">
                    <td class="column0 style42 null">
                        <div style="position: relative;">
                            <img style="position: absolute; z-index: 1; left: 2px; top: 1px; width: 132px; height: 125px;"
                                 src="~/images/okra.svg" border="0" />
                        </div>
                    </td>
                    <td class="column1 style42 null"></td>
                    <td class="column2 style28 s style28" colspan="4" rowspan="3">&nbsp;&nbsp;&nbsp;OKRA MASA SANDALYE</td>
                    <td class="column6">&nbsp;</td>
                    <td class="column7">&nbsp;</td>
                    <td class="column8">&nbsp;</td>
                    <td class="column9">&nbsp;</td>
                </tr>
                <tr class="row2">
                    <td class="column0 style42 null"></td>
                    <td class="column1 style42 null"></td>
                    <td class="column6 style17 s">TARİH</td>
                    <td class="column7 style40 f style41" colspan="2">@ViewBag.ProformaDate</td>
                    <td class="column9">&nbsp;</td>
                </tr>
                <tr class="row3">
                    <td class="column0 style42 null"></td>
                    <td class="column1 style42 null"></td>
                    <td class="column6 style37 s style39" colspan="3">FİŞ NUMARASI</td>
                    <td class="column9">&nbsp;</td>
                </tr>
                <tr class="row4">
                    <td class="column0 style49 null"></td>
                    <td class="column1 style43 null"></td>
                    <td class="column2 style27 s style27" colspan="4"><a title="">info@okramasasandalye.com</a></td>
                    <td class="column6 style44 s style46" colspan="3">@ViewBag.ProformaReceiptNo</td>
                    <td class="column9">&nbsp;</td>
                </tr>
                <tr class="row5">
                    <td class="column0 style43 null"></td>
                    <td class="column1 style43 null"></td>
                    <td class="column2 style27 s style27" colspan="4">TEL: 0542 542 93 88</td>
                    <td class="column6 style48 s style48" colspan="3">
                        <div style="position: relative;">
                            <img style="position: absolute; z-index: 1; left: 55px; top: -2px; width: 23px; height: 23px;"
                                 src="~/images/Instagram-Logo.wine.svg" border="0" />
                        </div>okrafurniture
                    </td>
                    <td class="column9">&nbsp;</td>
                </tr>
                <tr class="row6">
                    <td class="column0 style25 null"></td>
                    <td class="column1 style25 null"></td>
                    <td class="column2 style25 null"></td>
                    <td class="column3 style25 null"></td>
                    <td class="column4 style25 null"></td>
                    <td class="column5 style25 null"></td>
                    <td class="column6 style18 null"></td>
                    <td class="column7 style47 null"></td>
                    <td class="column8">&nbsp;</td>
                    <td class="column9">&nbsp;</td>
                </tr>
                <tr class="row7">
                    <td class="column0 style29 s style34" colspan="9">PROFORMA INVOCE</td>
                    <td class="column9">&nbsp;</td>
                </tr>
                <tr class="row9">
                    <td class="column0 style52 s style53" colspan="2">MÜŞTERİ ADI</td>
                    <td class="column2 style54 s style56" colspan="7">@ViewBag.ProformaCompany</td>
                    <td class="column9">&nbsp;</td>
                </tr>
                <tr class="row10">
                    <td class="column0 style57 s style36" colspan="2">ADRESİ</td>
                    <td class="column2 style50 s style58" colspan="7">@ViewBag.ProformaAddress</td>
                    <td class="column9">&nbsp;</td>
                </tr>
                <tr class="row11">
                    <td class="column0 style59 s">MİKTAR / <br>QUANTITY</td>
                    <td class="column1 style15 s">KOD / <br>CODE</td>
                    <td class="column2 style2 s">ÜRÜN</td>
                    <td class="column3 style15 s">KUMAŞ TİPİ</td>
                    <td class="column4 style15 s">ÜRÜN RENGİ / <br>PRODUCT COLOR</td>
                    <td class="column5 style15 s">AYAK RENGİ / <br>FOOT COLOR</td>
                    <td class="column6 style15 s">PARÇA SAYISI</td>
                    <td class="column7 style15 s">FİYAT / <br>PRICE</td>
                    <td class="column8 style60 s">TUTAR / <br>TOTAL</td>
                    <td class="column9">&nbsp;</td>
                </tr>
                @for (; count < 20; count++)
                {
                    var item = count < Model.Count ? Model[count] : null;
                    <tr class="row13">
                        @if (item != null && count != 19)
                        {
                            <td class="column0 style59 s">@item.Amount</td>
                            <td class="column1 style2 s">@item.ProductCode</td>
                            <td class="column2 style2 s">@item.ProductName</td>
                            <td class="column3 style2 s">@item.FabricName</td>
                            <td class="column4 style2 s">@item.ProductColorName</td>
                            <td class="column5 style2 s">@item.FootColorName</td>
                            <td class="column6 style2 s">@item.Piece</td>
                            <td class="column7 style2 s">₺@item.Price</td>
                            <td class="column8 style60 s">₺@item.TotalPrice</td>
                            <td class="column9">&nbsp;</td>
                        }
                        else if (item != null && count == 19)
                        {
                            <td class="column0 s style64">@item.Amount</td>
                            <td class="column1 s style65">@item.ProductCode</td>
                            <td class="column2 s style65">@item.ProductName</td>
                            <td class="column3 s style65">@item.FabricName</td>
                            <td class="column4 s style65">@item.ProductColorName</td>
                            <td class="column5 s style65">@item.FootColorName</td>
                            <td class="column6 s style65">@item.Piece</td>
                            <td class="column7 s style65">₺@item.Price</td>
                            <td class="column8 s style67">₺@item.TotalPrice</td>
                            <td class="column9">&nbsp;</td>
                        }
                        else if (item == null && count == 19)
                        {
                            <td class="column0 null style64"></td>
                            <td class="column1 null style65"></td>
                            <td class="column2 null style65"></td>
                            <td class="column3 null style65"></td>
                            <td class="column4 null style65"></td>
                            <td class="column5 null style65"></td>
                            <td class="column6 null style65"></td>
                            <td class="column7 null style65"></td>
                            <td class="column8 f style67">₺0.00</td>
                            <td class="column9">&nbsp;</td>
                        }
                        else
                        {
                            <td class="column0 style59 null"></td>
                            <td class="column1 style2 null"></td>
                            <td class="column2 style2 null"></td>
                            <td class="column3 style2 null"></td>
                            <td class="column4 style2 null"></td>
                            <td class="column5 style2 null"></td>
                            <td class="column6 style2 null"></td>
                            <td class="column7 style2 null"></td>
                            <td class="column8 style60 s">₺0.00</td>
                            <td class="column9">&nbsp;</td>
                        }

                    </tr>
                }
                <tr class="row33">
                    <td class="column0 style68 null"></td>
                    <td class="column1 style68 null"></td>
                    <td class="column2 style68 null"></td>
                    <td class="column3 style68 null"></td>
                    <td class="column4 style68 null"></td>
                    <td class="column5 style68 null"></td>
                    <td class="column6 style68 null"></td>
                    <td class="column7 style69 s">TOPLAM</td>
                    <td class="column8 style70 f">₺@ViewBag.ProformaTotalPrice</td>
                    <td class="column9 style9 null"></td>
                </tr>
                <tr class="row34">
                    <td class="column0 style20 null"></td>
                    <td class="column1 style20 null"></td>
                    <td class="column2 style20 null"></td>
                    <td class="column3 style24 null"></td>
                    <td class="column4 style24 null"></td>
                    <td class="column5 style24 null"></td>
                    <td class="column6 style24 null"></td>
                    <td class="column7 style71 s">ALINAN ÖDEME</td>
                    <td class="column8 style72 null">₺@ViewBag.Payment</td>
                    <td class="column9 style9 null"></td>
                </tr>
                <tr class="row35">
                    <td class="column0 style20 null"></td>
                    <td class="column1 style20 null"></td>
                    <td class="column2 style20 null"></td>
                    <td class="column3 style21 null"></td>
                    <td class="column4 style21 null"></td>
                    <td class="column5 style21 null"></td>
                    <td class="column6 style21 null"></td>
                    <td class="column7 style73 s">KALAN BAKİYE</td>
                    <td class="column8 style74 null">₺@ViewBag.Balance</td>
                    <td class="column9 style9 null"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

